<div class="SC_Panel" style="width: 250px;">
<table width="100%" cellspacing="0" cellpadding="0" style="table-layout: fixed;">
<tbody>
<tr>
<td nowrap="">
	<div class="SC_Item" dropDownItemName="1">
	<span style="width:25px;text-align:center;float:left;"><font size="1">1</font></span>&nbsp;&nbsp;
	<font size="1">xx-small</font>
	</div>
	<div class="SC_Item" dropDownItemName="2">
	<span style="width:25px;text-align:center;float:left;"><font size="2">2</font></span>&nbsp;&nbsp;
	<font size="2">x-small</font>
	</div>
	<div class="SC_Item" dropDownItemName="3">
	<span style="width:25px;text-align:center;float:left;"><font size="3">3</font></span>&nbsp;&nbsp;
	<font size="3">small</font>
	</div>
	<div class="SC_Item" dropDownItemName="4">
	<span style="width:25px;text-align:center;float:left;"><font size="4">4</font></span>&nbsp;&nbsp;
	<font size="4">medium</font>
	</div>
	<div class="SC_Item" dropDownItemName="5">
	<span style="width:25px;text-align:center;float:left;"><font size="5">5</font></span>&nbsp;&nbsp;
	<font size="5">large</font>
	</div>
	<div class="SC_Item" dropDownItemName="6">
	<span style="width:25px;text-align:center;float:left;"><font size="6">6</font></span>&nbsp;&nbsp;
	<font size="6">x-large</font>
	</div>
	<div class="SC_Item" dropDownItemName="7">
	<span style="width:25px;text-align:center;float:left"><font size="7">7</font></span>&nbsp;&nbsp;
	<font size="7">xx-large</font>
	</div>
</td>
</tr>
</tbody>
</table>
</div>