<div class="SC_Panel" style="width: 150px;">
	<div class="SC_Item" dropDownItemName="Lucida Grande,Lucida Sans,Helvetica,Verdana,Arial,Sans-serif">
		<font face="Lucida Grande,Lucida Sans,Helvetica,Verdana,Arial,Sans-serif" style="font-size: 12px;">Sans Serif</font>
	</div>
	<div class="SC_Item" dropDownItemName="Palatino,Times,Serif">
		<font face="Palatino,Times,Serif" style="font-size: 12px;">Serif</font>
	</div>
	<div class="SC_Item" dropDownItemName="Skia,Verdana,Skia CC,Sans-serif">
		<font face="Skia,Verdana,Skia CC,Sans-serif" style="font-size: 12px;">Verdana/Skia</font>
	</div>
	<div class="SC_Item" dropDownItemName="Charcoal,Futura,Impact,Sans-serif">
		<font face="Charcoal,Futura,Impact,Sans-serif" style="font-size: 12px;">Heavy</font>
	</div>
	<div class="SC_Item" dropDownItemName="Monospace">
		<font face="Monospace" style="font-size: 12px;">Monospace</font>
	</div>
	<div class="SC_Item" dropDownItemName="Zapfino,Apple Chancery,Mistral,Cursive">
		<font face="Zapfino,Apple Chancery,Mistral,Cursive" style="font-size: 12px;">Fancy Script</font>
	</div>
	<div class="SC_Item" dropDownItemName="Comic Sans MS,Kidprint,Sand,Sans-serif">
		<font face="Comic Sans MS,Kidprint,Sand,Sans-serif" style="font-size: 12px;">Comic Sans</font>
	</div>
	<div class="SC_Item" dropDownItemName="Wingdings">
		<font face="Sans-serif" style="font-size: 12px;">Wingdings</font>
	</div>
</div>