<div id="replyHead${post_key}" class="forumReplyHead" style="margin-left:${indent}">

<span dojoAttachEvent="onClick: showBody('child')" id="PostLink${post_key}" class="disclosureClosed">${subject}</span> <a id="authordetails${post_key}" href="byname.php?user_key=${added_by_key}" id="authordetails${post_key}">${added_by}</a> ${date_added}</span>
<div id="messageBody${post_key}" style="display:none" ></div>
	<a dojoType="tooltip" connectId="authordetails${post_key}" href="../../users/userdetails.php?user_key=1&pop_up=1" toggle="explode"></a>
	</div>
	