<div>
<table dojoAttachPoint="symboltable" cellSpacing="0" cellPadding="1" width="100%" rules="all" style="font-size:medium;text-align:center;border:1px solid black;border-collapse:true;">
<tr>
<td>#</td>
<td>$</td>
<td>&cent;</td>
<td>&euro;</td>
<td>&pound;</td>
<td>&yen;</td>
<td>&curren;</td>
<td>&</td>
<td>{</td>
<td>|</td>
<td>&brvbar;</td>
<td>}</td>
<td>~</td>
<td>&ndash;</td>
<td>&mdash;</td>
<td>&iexcl;</td>
<td>!</td>
<td>&iquest;</td>
<td>?</td>
</tr><tr>
<td>&#39;</td>
<td>&quot;</td>
<td>&lsquo;</td>
<td>&rsquo;</td>
<td>&ldquo;</td>
<td>&rdquo;</td>
<td>&prime;</td>
<td>&Prime;</td>
<td>&laquo;</td>
<td>&raquo;</td>
<td>&lsaquo;</td>
<td>&rsaquo;</td>
<td>&hellip;</td>
<td>&bull;</td>
<td>&middot;</td>
<td>&para;</td>
<td>&sect;</td>
<td>&Dagger;</td>
<td>&dagger;</td>
</tr><tr>
<td>&plusmn;</td>
<td>&divide;</td>
<td>&times;</td>
<td>&ne;</td>
<td>&not;</td>
<td>&infin;</td>
<td>&there4;</td>
<td>&deg;</td>
<td>&frac14;</td>
<td>&frac12;</td>
<td>&frac34;</td>
<td>%</td>
<td>&permil;</td>
<td>&sup1;</td>
<td>&sup2;</td>
<td>&sup3;</td>
<td>&copy;</td>
<td>&reg;</td>
<td>&trade;</td>
</tr><tr>
<td>&#257;</td>
<td>&#275;</td>
<td>&#299;</td>
<td>&#333;</td>
<td>&#363;</td>
<td>&#256;</td>
<td>&#274;</td>
<td>&#298;</td>
<td>&#332;</td>
<td>&#362;</td>
<td>&larr;</td>
<td>&harr;</td>
<td>&#8660;</td>
<td>&rarr;</td>
<td>&uarr;</td>
<td>&darr;</td>
<td>&loz;</td>
<td>&pi;</td>
<td>&Pi;</td>
</tr><tr>
<td>&micro;</td>
<td>&macr;</td>
<td>&acute;</td>
<td>&circ;</td>
<td>&uml;</td>
<td>&cedil;</td>
<td>&ordf;</td>
<td>&agrave;</td>
<td>&aacute;</td>
<td>&acirc;</td>
<td>&atilde;</td>
<td>&auml;</td>
<td>&aring;</td>
<td>&#462;</td>
<td>&#261;</td>
<td>&aelig;</td>
<td>&Agrave;</td>
<td>&Aacute;</td>
<td>&Acirc;</td>
</tr><tr>
<td>&Atilde;</td>
<td>&Auml;</td>
<td>&Aring;</td>
<td>&#260;</td>
<td>&AElig;</td>
<td>&ccedil;</td>
<td>&#269;</td>
<td>&#263;</td>
<td>&Ccedil;</td>
<td>&#268;</td>
<td>&#262;</td>
<td>&#598;</td>
<td>&#240;</td>
<td>&egrave;</td>
<td>&eacute;</td>
<td>&ecirc;</td>
<td>&euml;</td>
<td>&#283;</td>
<td>&#281;</td>
</tr><tr>
<td>&#601;</td>
<td>&Egrave;</td>
<td>&Eacute;</td>
<td>&Ecirc;</td>
<td>&Euml;</td>
<td>&#280;</td>
<td>&igrave;</td>
<td>&iacute;</td>
<td>&icirc;</td>
<td>&iuml;</td>
<td>&#464;</td>
<td>&Igrave;</td>
<td>&Iacute;</td>
<td>&Icirc;</td>
<td>&Iuml;</td>
<td>&#322;</td>
<td>&ntilde;</td>
<td>&#324;</td>
<td>&#331;</td>
</tr><tr>
<td>&Ntilde;</td>
<td>&#323;</td>
<td>&ograve;</td>
<td>&oacute;</td>
<td>&ocirc;</td>
<td>&otilde;</td>
<td>&ouml;</td>
<td>&oslash;</td>
<td>&#466;</td>
<td>&#337;</td>
<td>&Ograve;</td>
<td>&Oacute;</td>
<td>&Ocirc;</td>
<td>&Otilde;</td>
<td>&Ouml;</td>
<td>&Oslash;</td>
<td>&#336;</td>
<td>&#353;</td>
<td>&#352;</td>
</tr><tr>
<td>&szlig;</td>
<td>&#648;</td>
<td>&#321;</td>
<td>&ugrave;</td>
<td>&uacute;</td>
<td>&ucirc;</td>
<td>&uuml;</td>
<td>&#468;</td>
<td>&#369;</td>
<td>&Ugrave;</td>
<td>&Uacute;</td>
<td>&Ucirc;</td>
<td>&Uuml;</td>
<td>&#368;</td>
<td>&yuml;</td>
<td>&yacute;</td>
<td>&Yacute;</td>
<td>&#382;</td>
<td>&#378;</td>
</tr><tr>
<td>&#380;</td>
<td>&#381;</td>
<td>&#377;</td>
<td>&#379;</td>
<td>&#660;</td>
<td>&THORN;</td>
<td>&thorn;</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<button dojoType='Button' dojoAttachEvent='onClick:cancel'>Cancel</button>
</div>